@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
}

.no-scrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

.slick-dots {
	width: 20% !important;
	left: -20px !important;
	bottom: -5rem !important;
	text-align: left !important;
}

@media (max-width: 600px) {
	.slick-dots {
		width: 100% !important;
	}
}

.slick-dots li button:before {
	font-size: 12px !important;
}

.slick-dots li {
	margin: 2px !important;
}

.scroll-animate {
	display: flex;
	flex-wrap: nowrap;
	animation: scroll 10s linear infinite;
}
.scroll-animate-right {
	display: flex;
	flex-wrap: nowrap;
	animation: scroll-right 10s linear infinite;
}
.card-animate {
	animation: onclick-display 1s linear 1;
}

.gradients {
	background: linear-gradient(90deg, #3b00ff, #c700ff 50%, #ff4747);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.caption-text {
	background: linear-gradient(45deg, #3b00ff, #c700ff);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.gray-text {
	background: linear-gradient(#968abc, rgba(150, 138, 188, 0.3));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.gray-secondary {
	background: linear-gradient(#fff, rgba(255, 255, 255, 0.7));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes scroll-right {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(40%);
	}
}
@keyframes onclick-display {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
